
{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/posts/create-post.css' %}">

<div class="container mt-5">
    <h1 class="text-center">Create a Post</h1>
    <form action="{% url 'create-post' user.username %}" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}

        <div class="mb-3" id="post-title">
            {{ form.title.label_tag }}
            {{ form.title }}
            {% for error in form.title.errors %}
                <div class="text-danger">*{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-check mb-3">
            {% for error in form.for_sale.errors %}
                <div class="text-danger">*{{ error }}</div>
            {% endfor %}
            <label>
                <input type="checkbox" id="for-sale-checkbox" name="for_sale">
                For Sale
            </label>
        </div>

        <div class="mb-3" id="price-container">
            {{ form.price.label_tag }}
            {{ form.price }}
            {% for error in form.price.errors %}
                <div class="text-danger">*{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-check mb-3">
            {% for error in form.collection.errors %}
                <div class="text-danger">*{{ error }}</div>
            {% endfor %}
            <label>
                <input type="checkbox" id="collection-checkbox" name="collection">
                Collection
            </label>
        </div>

        <div class="mb-3">
            {{ form.image.label_tag }}
            {{ form.image }}
            {% for error in form.image.errors %}
                <div class="text-danger">*{{ error }}</div>
            {% endfor %}
        </div>

        <div class="btn-container">
            <button type="submit" class="btn btn-primary">Create</button>
            <a href="{% url 'gallery' %}">Cancel</a>
        </div>
    </form>
</div>

    {% include 'gallery/side-menu.html' %}

    <script src="{% static 'js/gallery/create-post.js' %}"></script>
{% endblock %}
