{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/posts/edit_post.css' %}">

    <form method="post" action="{% url 'edit_post' request.user.username post.pk %}" enctype="multipart/form-data">
        <h1>Edit Post</h1>
        {% csrf_token %}
        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" id="for-sale-checkbox" name="for_sale" {% if form.instance.for_sale %}checked{% endif %}>
                For Sale
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" id="collection-checkbox" name="collection" {% if post.owner %}checked{% endif %}>
                Collection
            </label>
        </div>
        <div class="form-group" id="price-field" style="display: {% if form.instance.for_sale %}block{% else %}none{% endif %};">
            {{ form.price.label_tag }}
            {{ form.price }}
            {% for error in form.price.errors %}
                <div class="text-danger">*{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group" id="change-img-cont">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>

        <div class="btns-cont">
          <button type="submit">Save</button>
          <a href="{% url 'profile' request.user.username %}">Cancel</a>
        </div>
    </form>

    {% include 'gallery/side-menu.html' %}

    <script src="{% static 'js/gallery/edit_post.js' %}"></script>

{% endblock %}