{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">

    <header>
        <div class="artfluence-logo-header">
            <img src="{% static 'images/Artfluence-logo-removebg-preview (1).png' %}">
            <span>Artfluence</span>
        </div>

        <div class="hamburger" onclick="toggleMenu()">&#9776;</div>

        <div class="header-anchors-container">
            <a href="javascript:void(0)" id="home-btn">Home</a>
            <a href="javascript:void(0)" id="about">About</a>
            <a href="{% url 'what-is-ap' %}">What is AP</a>
            <a href="{% url 'gallery' %}" id="gallery">Gallery</a>
            <a href="javascript:void(0)" id="contacts-btn">Contacts</a>
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}!</p>
{#                <a href="{% url 'logout' %}">Logout</a>#}
            {% else %}
                <a href="{% url 'login' %}" id="login-btn">Log in</a>
            {% endif %}
        </div>
    </header>

    <div class="first-display-container" id="home-div">
        <h1>Welcome to Artfluence!</h1>
        <h4>The #1 social media for art</h4>
    </div>

    <div id="what-is-artfluence">
        <img src="{% static 'images/Main-page-bg.jpg' %}">

        <div class="what-is-artfluence-text-con">
            <h2>What is Artfluence?</h2>
            <p>A social media platform for artists and art lovers. You can also:</p>
            <ul>
                <li>Earn money selling your art pieces</li>
                <li>Collect art you like</li>
                <li>Display your art</li>
                <li>Become a true artist</li>
                <li>Join us and claim your free AP rewards</li>
            </ul>
        </div>
    </div>

    <section class="reviews-section section-padding section-bg" id="section_4">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-12 col-12 mb-4 pb-lg-2">
                    <em class="text-white">Reviews by Customers</em>

                    <h2 class="text-white">Testimonials</h2>
                </div>

            <div class="timeline">
                <div class="timeline-container timeline-container-left">
                    <div class="timeline-content">
                        <div class="reviews-block">
                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                <img src="{% static 'images/young-woman-with-round-glasses-yellow-sweater.jpg' %}" class="reviews-block-image img-fluid" alt="">

                                <div class="">
                                    <h6 class="text-white mb-0">Sandra</h6>
                                    <em class="text-white">Graphic Designer</em>
                                </div>
                            </div>

                            <div class="reviews-block-info">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                <div class="d-flex border-top pt-3 mt-4">
                                    <strong class="text-white">5 Star <small class="ms-2">Rating</small></strong>

                                    <div class="reviews-group ms-auto">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="timeline-container timeline-container-right">
                    <div class="timeline-content">
                        <div class="reviews-block">
                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                <img src="{% static 'images/senior-man-white-sweater-eyeglasses.jpg' %}" class="reviews-block-image img-fluid" alt="">

                                <div class="">
                                    <h6 class="text-white mb-0">Don</h6>
                                    <em class="text-white">Artist</em>
                                </div>
                            </div>

                            <div class="reviews-block-info">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                <div class="d-flex border-top pt-3 mt-4">
                                    <strong class="text-white">4 Star <small class="ms-2">Rating</small></strong>

                                    <div class="reviews-group ms-auto">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="timeline-container timeline-container-left">
                    <div class="timeline-content">
                        <div class="reviews-block">
                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                <img src="{% static 'images/young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair.jpg' %}" class="reviews-block-image img-fluid" alt="">

                                <div class="">
                                    <h6 class="text-white mb-0">Olivia</h6>
                                    <em class="text-white">Graphic Artist</em>
                                </div>
                            </div>

                            <div class="reviews-block-info">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                <div class="d-flex border-top pt-3 mt-4">
                                    <strong class="text-white">4.5 Star <small class="ms-2">Rating</small></strong>

                                    <div class="reviews-group ms-auto">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    <footer id="contacts-div">
        <img src="{% static 'images/Artfluence-logo-removebg-preview (1).png' %}">
        <div class="contact-info">
            <p>Contact us:</p>
            <p>info@artfluence.com | +123 456 7890</p>
        </div>
        <div class="social-medias">
            <p>Follow us on:</p>
            <div class="social-medias-logos-con">
                <a href="https://www.facebook.com/vanko.shterev.7" target="_blank" id="facebook-span"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" target="_blank" id="twitter-span"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.instagram.com/ivan_shterevv/" target="_blank" id="instagram-span"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/ivan-shterev/" target="_blank" id="linkedin-span"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
    </footer>

<script src="{% static 'js/home.js' %}"></script>

{% endblock %}