{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/home/what-is-ap.css' %}">

{#    <div class="explanation-container">#}

        <div class="coin">
            <div class="coin-face coin-front"></div>
            <div class="coin-face coin-back"></div>
        </div>

        <div class="explanation-text-con">
            <h1>Artfluence Points</h1>
            <ul>
                <li>Artfluence points(AP) is the currency of Artfluence</li>
                <li>You can get AP by selling one of your art pieces</li>
                <li>You can also buy an art piece</li>
                <li>Exchange AP for euro and euros for AP</li>
                <li>100 AP equals 1 euro</li>
                <li>Every account starts with 100 AP for free</li>
            </ul>
        </div>

{#    </div>#}

{% endblock %}