{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/accounts/login.css' %}">

    <div class="form-container">
        <img src="{% static 'images/painted_mountains.png' %}">
        <form action="{% url 'login' %}" method="post">
            <h1>Sign in</h1>
            <h1>Artfluence</h1>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="error">
                    {% for error in form.non_field_errors %}
                        <p class="text-danger">*{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% for error in form.email.errors %}
                <div class="text-danger">*{{ error }}</div>
            {% endfor %}
            {{ form.email }}
            {% for error in form.password.errors %}
                <div class="text-danger">*{{ error }}</div>
            {% endfor %}
            {{ form.password }}
            <button>Sign In</button>
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </form>
    </div>
{% endblock %}
