
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 150px;
    gap: 30px;
}

.post{
    display: flex;
    flex-flow: column;
    width: 30%;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.post img{
    width: 100%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.title-cont{
    padding: 10px;
}

.a-points-cont{
    display: flex;
    flex-flow: column;
    gap: 16px;
    background-color: #f6f5f7;
    padding: 15px;
    height: 350px;
    width: 17%;
    position: fixed;
    left: 100px;
    border-radius: 15px;
}

.a-points-top{
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.resultCont{
    display: flex;
    flex-flow: column;
    font-size: 22px;
    margin-top: 110px;
}

.display-ap-cont{
   font-size: 22px;
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.error-message, .success-message{
    background-color: red;
}