*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 30px;
    background: #f6f5f7;
    position: relative;
    height: 100%;
    width: 100%;
}

.profile-card{
    display: flex;
    align-items: center;
    height: 400px;
    width: 30%;
    gap: 40px;
    font-size: 20px;
}

.profile-card a{
    color: black;
}

.profile-card a:hover{
    text-decoration: underline;
}

#view-selector{
    padding: 7px;
    border-radius: 20px;
    border: 2px solid black;
}

.right-side-cont{
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.right-side-top-cont{
    display: flex;
    align-items: center;
    gap: 15px;
}

.right-side-top-cont a{
    margin-top: 7px;
    background-color: #e7e7e7;
    padding: 8px 15px 8px 15px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
}

.right-side-top-cont a:hover{
    text-decoration: none;
    background-color: #d3d2d2;
}

.profile-card img{
    height: 120px;
    border-radius: 50%;
}

.no-items-to-display{
    font-size: 30px;
    color: gray;
}

.debit-card-cont{
    display: flex;
    gap: 5px;
}

.debit-card-cont a{
    text-decoration: none;
}

.post-item{
    display: flex;
    flex-flow: column;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 28%;
    height: 420px;
}

.post-item img{
    height: 350px;
    overflow: hidden;
}

.post-top{
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.title-price-cont{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    width: 55%;
}

.title-price-cont a:hover{
    text-decoration: underline;
}

.edit-delete-cont{
    display: flex;
    gap: 10px;
    color: gray;
}

.edit-delete-cont a{
    color: gray;
}

.likes-comments-cont{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
    font-size: 18px;
}

.likes-comments-cont button{
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.like-button{
    cursor: pointer;
}

.like-button .fa-solid{
    color: red;
}

#collection-view, #for-sale-view{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 73%;
    padding-right: 40px;
    padding-bottom: 40px;
}

#delete-post-modal, #delete-profile-modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 15px;
    border: none;
    padding: 20px;
    z-index: 1000;
    height: 30%;
    width: 30%;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 30px;
}

.delete-btns-cont{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.delete-btns-cont button{
    padding: 10px;
    transition: 0.3s ease-in-out;
    color: #fff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.delete-btns-cont button:hover{
    transform: scale(1.1);
}

#confirm-delete-post, #confirm-delete-profile{
    background-color: #3C5A99;
}

#cancel-delete-post, #cancel-delete-profile{
    background-color: #2a2922;
}

.overlay{
    display: none;
    position: absolute;
}

@media only screen and (max-width: 1620px){
    body{
        align-items: normal;
    }

    .profile-card{
        width: 35%;
        align-self: center;
    }

    #collection-view, #for-sale-view{
        gap: 20px;
        width: 80%;
        padding-right: 0;
        padding-left: 40px;
    }
}

@media only screen and (max-width: 1460px){
    #collection-view, #for-sale-view{
        gap: 20px;
        width: 85%;
    }
}

@media only screen and (max-width: 1460px){
    .profile-card{
        width: 38%;
        align-self: center;
    }
}

@media only screen and (max-width: 1281px){
    .profile-card{
        width: 40%;
        align-self: center;
    }
    #collection-view, #for-sale-view {
        gap: 20px;
        width: 90%;
        padding-left: 0;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 1218px){
    .profile-card{
        width: 43%;
        align-self: center;
    }
    #collection-view, #for-sale-view {
        gap: 20px;
        width: 100%;
        padding-left: 0;
        flex-flow: column;
        align-items: center;
    }
}

@media only screen and (max-width: 1135px){
    .post-item{
        width: 40%;
    }
    .profile-card{
        width: 50%;
        align-self: center;
    }
}

@media only screen and (max-width: 1000px){
    .profile-card{
        width: 65%;
        align-self: center;
    }
    .post-item{
        width: 46%;
    }
    #delete-post-modal, #delete-profile-modal{
        width: 50%;
    }
}

@media only screen and (max-width: 760px){
    .profile-card{
        width: 100%;
        align-self: center;
        justify-content: center;
    }
    .post-item{
        width: 60%;
    }
    #delete-post-modal, #delete-profile-modal{
        width: 60%;
    }
}

@media only screen and (max-width: 580px){
    .post-item{
        width: 77%;
    }
}