
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.right-menu{
    display: flex;
    flex-flow: column;
    gap: 20px;
    width: 16%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 40px 10px 0 10px;
    height: 100vh;
    font-size: 20px;
    border-left: 1px solid gray;
    background-color: #f6f5f7;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.right-menu.hidden {
    transform: translateX(100%);
}

.right-menu h2{
    padding-left: 30px;
}

#greet-user{
    padding-left: 30px;
}

.option{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    padding-left: 30px;
    border-radius: 15px;
    width: 100%;
}

.option:hover{
    background-color: rgba(0, 0, 0, .3);
}

.option img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

a{
    text-decoration: none;
    color: black;
}

#menu-toggle {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

.hide{
    display: none;
}

.not-auth h2{
    text-align: center;
    padding-left: 0;
}

#login-to-not-auth{
    display: flex;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 1150px) {
    .right-menu {
        height: auto;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        flex-flow: row;
        padding: 10px 20px;
        border-left: none;
        display: flex;
        border-bottom: 1px solid gray;
    }

    .right-menu h2,
    #greet-user {
        display: none;
    }

    .option {
        padding: 10px;
        justify-content: center;
    }

    .right-menu.not-auth{
        height: 70px;
    }

    .not-auth .option{
        width: 20%;
    }
}
