*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 100px;
}

.post-rank-cont{
    display: flex;
    width: 40%;
}

.rank-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 3rem;
}

.post{
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 65%;
}

.post h2, .post p, .post h3, .post ul {
    margin: 10px 0;
}

.post-top{
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid black;
    width: 100%;
    padding-bottom: 3px;
}

.post-top img{
    height: 32px;
}

.post-top a{
    margin-left: 100px;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

#user-profile{
    font-size: 18px;
    font-weight: bold;
    margin-left: 0;
}

.post-top a:hover{
    text-decoration: underline;
}

.post-image {
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 15px;
}

.post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.post h2{
    font-size: 18px;
    font-weight: bold;
    border-top: 1px solid black;
}

.likes-comments-cont{
    display: flex;
    gap: 30px;
    font-size: 20px;
}

.dividing-line{
    height: 1px;
    background-color: black;
    width: 100%;
}

.fa-heart, .fa-comment{
    cursor: pointer;
}

.likes-comments-cont i {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s;
    color: black;
    padding: 0;
}

.fa-heart.fa-solid{
    color: red;
}

.likes-comments-cont i:hover {
    transform: scale(1.2);
}

.comments {
    margin-top: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

#like-btn{
    background: none;
    border: none;
}

#like-form{
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 5px;
}

.comments p {
    margin: 5px 0;
    font-size: 14px;
}

textarea {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}