{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/gallery/edit_post.css' %}">

    <h1>Edit Post</h1>
    <form method="post" action="{% url 'edit_post' request.user.username post.pk %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" id="for-sale-checkbox" name="for_sale" {% if form.instance.for_sale %}checked{% endif %}>
                For Sale
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" id="collection-checkbox" name="collection" {% if post.owner %}checked{% endif %}>
                Collection
            </label>
        </div>
        <div class="form-group" id="price-field" style="display: {% if form.instance.for_sale %}block{% else %}none{% endif %};">
            {{ form.price.label_tag }}
            {{ form.price }}
        </div>
        <div class="form-group">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>
        <button type="submit">Save Changes</button>
    </form>
    <a href="{% url 'profile' request.user.username %}">Cancel</a>

    {% include 'gallery/side-menu.html' %}

    <script src="{% static 'js/edit_post.js' %}"></script>

{% endblock %}