{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/gallery/gallery.css' %}">

    <div class="top-container">
        <img src="{% static 'images/Artfluence-logo-removebg-preview (1).png' %}">
        <input type="text" placeholder="Search">
        <div></div>
    </div>
    {% if user.is_authenticated %}
        <div class="a-points-cont">
            <div class="a-points-top">
                <span>Current AP Balance:</span>
                <span class="dividing-line"></span>
            </div>
            <div class="display-ap-cont">
                <span id="balance">{{ user.artfluence_points }}</span>
            </div>
        </div>
    {% endif %}

    <div class="posts">
        {% if posts %}
            {% for post in posts %}
                <div class="post">
                    <div class="post-top">
                        <img src="{{ user.profile_picture.url }}">
                        <a href="{% url 'profile' post.owner.username %}" id="user-profile">{{ post.owner.username }}</a>
                        {% if post.for_sale %}
                            <a href="#"
                               class="for-sale-btn"
                               data-price="{{ post.price }}"
                                data-owner="{{ post.owner.username }}"
                               data-user="{{ user.username }}">
                                <i class="fa-solid fa-dollar-sign"></i>For Sale
                            </a>
                        {% endif %}
                    </div>
                    <div class="post-image">
                        <img src="{{ post.image.url }}">
                    </div>
                    <h2>{{ post.title }}</h2>
                    <div class="likes-comments-cont">
                        <p>Likes: {{ post.likes_count }}</p>
                        <p>Comments: {{ post.comments_count }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1>Currently, there are no posts.</h1>
            <h1>Be the first one to post!</h1>
        {% endif %}
    </div>


    <div class="right-menu">
        <h2>Artfluence</h2>
        {% if user.is_authenticated %}
                <span id="greet-user">Hello, {{ user.username }}!</span>
                <a href="{% url 'profile' user.username %}" class="option">
                    <img src="{{ user.profile_picture.url }}">
                    <span>Profile</span>
                </a>

                <a href="{% url 'create-post' user.username %}" class="option">
                    <i class="fa-solid fa-plus"></i>
                    <span>Create</span>
                </a>

                <a href="#" class="option">
                    <img src="{% static 'images/Artfluence_AP_coin_facing_forward-removebg-preview.png' %}" alt="">
                    <span>Buy AP</span>
                </a>
            {% else %}
                <span>Login to access all features!</span>
                <a href="{% url 'login' %}" class="option">
                    <i class="fa-solid fa-user"></i>
                    <span>Login</span>
                </a>
            {% endif %}

            <a href="{% url 'home' %}" class="option" >
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
            </a>

            <a href="{% url 'gallery' %}" class="option">
                <i class="fa-solid fa-image"></i>
                <span>Gallery</span>
            </a>

            <a href="#" class="option">
                <i class="fa-solid fa-layer-group"></i>
                <span>Top 5 Art Pieces</span>
            </a>

            <a href="#" class="option">
                <i class="fa-solid fa-gear"></i>
                <span>Settings</span>
            </a>
    </div>

    <script src="{% static 'js/gallery.js' %}"></script>
{% endblock %}