
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/gallery/gallery.css' %}">

    <div class="top-container">
        <img src="{% static 'images/Artfluence-logo-removebg-preview (1).png' %}">
        <form id="search-form">
            <input
                type="text"
                id="search-input"
                name="search"
                placeholder="Search by title or username"
            >
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <div class="top-div-filler"></div>
    </div>

    {% if user.is_authenticated %}
        <div class="a-points-cont">
            <div class="a-points-top">
                <span>Current AP Balance:</span>
            </div>
            <div class="display-ap-cont">
                <span id="balance">{{ user.artfluence_points }}</span>
            </div>
        </div>
    {% endif %}

    <div class="posts"></div>


    {% include 'gallery/side-menu.html' %}

    <script>
        const csrf_token = `{% csrf_token %}`;
        const user = `{{ user }}`;
        const isAuthenticated = {{ user.is_authenticated|yesno:"true,false" }};
        let authenticatedUser = `{{ request.user.id }}`;
    </script>
    <script src="{% static 'js/gallery/gallery.js' %}"></script>
{% endblock %}
