{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/gallery/profile.css' %}">

    <div class="profile-card">
        <img src="{{ user.profile_picture.url }}">
        <div class="right-side-cont">
            <h1>{{ user.username }}</h1>
            <span>Currently showing:
                <select id="view-selector" onchange="updateView()">
                    <option value="collection">Collection</option>
                    <option value="for-sale">For sale</option>
                </select>
            </span>
            {% if is_owner %}
                <div class="debit-card-cont">
                    <i class="fa-regular fa-credit-card"></i>
                    <a href="{% url 'add-debit-card' user.username %}">Choose debit card</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div id="collection-view">
        {% for post in collection %}
        <div class="post-item">
            <div class="post-top">
                <h3>{{ post.title }}</h3>
            </div>
            <img src="{{ post.image.url }}">
            <div class="likes-comments-cont">
                <p>Likes: {{ post.likes_count }}</p>
                <p>Comments: {{ post.comments_count }}</p>
            </div>
        </div>
        {% empty %}
        <p class="no-items-to-display">No items in collection</p>
        {% endfor %}
    </div>

    <div id="for-sale-view">
        {% for post in for_sale %}
        <div class="post-item">
            <div class="post-top">
                <span>{{ post.title }}</span>
                <span>Price: ${{ post.price }}</span>
            </div>
            <img src="{{ post.image.url }}">
            <div class="likes-comments-cont">
                <p>Likes: {{ post.likes_count }}</p>
                <p>Comments: {{ post.comments_count }}</p>
            </div>
        </div>
        {% empty %}
        <p class="no-items-to-display">No items for sale</p>
        {% endfor %}
    </div>

    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}