{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/gallery/side-menu.css' %}">

    <div class="right-menu">
        <h2>Artfluence</h2>
        {% if user.is_authenticated %}
                <span id="greet-user">Hello, {{ request.user.username }}!</span>
                <a href="{% url 'profile' request.user.username %}" class="option">
                    <img src="{{ request.user.profile_picture.url }}">
                    <span class="target">Profile</span>
                </a>

                <a href="{% url 'create-post' request.user.username %}" class="option">
                    <i class="fa-solid fa-plus"></i>
                    <span class="target">Create</span>
                </a>

                <a href="{% url 'buy-ap' request.user.username %}" class="option">
                    <img src="{% static 'images/Artfluence_AP_coin_facing_forward-removebg-preview.png' %}" alt="">
                    <span class="target">Buy AP</span>
                </a>

                <a href="{% url 'transfer' request.user.username %}" class="option">
                    <i class="fa-solid fa-euro-sign"></i>
                    <span class="target">Transfer</span>
                </a>
            {% else %}
                <span>Login to access all features!</span>
                <a href="{% url 'login' %}" class="option">
                    <i class="fa-solid fa-user"></i>
                    <span class="target">Login</span>
                </a>
            {% endif %}

            <a href="{% url 'home' %}" class="option" >
                <i class="fa-solid fa-house"></i>
                <span class="target">Home</span>
            </a>

            <a href="{% url 'gallery' %}" class="option">
                <i class="fa-solid fa-image"></i>
                <span class="target">Gallery</span>
            </a>

            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="option">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="target">Logout</span>
                </a>
            {% endif %}
    </div>

    <script>
        const targets = document.querySelectorAll('.target');

        const applyMediaQuery = () => {
            if (window.matchMedia("(max-width: 1000px)").matches) {
                targets.forEach(target => {
                    target.classList.add('hide');
                });
            } else {
                targets.forEach(target => {
                    target.classList.remove('hide');
                });
            }
        };

        applyMediaQuery();

        window.matchMedia("(max-width: 1000px)").addEventListener("change", applyMediaQuery);

    </script>

{% endblock %}