{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artfluence Points</title>
    <link rel="stylesheet" href="{% static 'css/what-is-ap.css' %}">
    <link rel="icon" href="{% static 'images/Artfluence-logo.jpg' %}">
</head>
<body>

    <div class="explanation-container">

        <div class="coin">
            <div class="coin-face coin-front"></div>
            <div class="coin-face coin-back"></div>
        </div>

        <div class="explanation-text-con">
            <h1>Artfluence Points</h1>
            <ul>
                <li>Artfluence points(AP) is the currency of Artfluence.</li>
                <li>You can get AP by selling one of your art pieces</li>
                <li>You can also buy an art piece</li>
                <li>Exchange AP for euro</li>
                <li>Every account starts with 10 000 AP for free</li>
            </ul>
        </div>

    </div>

</body>
</html>